.home-container{
    background-image: url('background-trail.png');
    height: 100%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 3000px;
  background-size: 900px 3000px;
}
